# Local scripts
*.sh
*.org
*.txt
*.log
*generate-sitemap.py

# Ignore temporary dev server folder
.devserver/

# Local sitemap
sitemap.xml

# Pagefind outputs
/pages/pagefind/
/_pagefind/
/pagefind/

# Python cache
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
